.app {
  font-family: sans-serif;
  text-align: center;
  margin-top: 3rem;
}
.container {
  margin-top: 2rem;
  padding: 1rem;
  display: inline-block;
  justify-content: center;
  border: 2px solid black;
}

h3 {
  padding-bottom: 1rem;
  border-bottom: 6px double black;
}

.flex-container {
  display: flex;
  margin: 0rem 1rem;
}

.flex-child {
  padding: 2rem 1rem;
  flex: 1;
  border: 8px double red;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

@media only screen and (max-width: 1000px) {
  .flex-container {
    margin: 5rem;
    display: block;
  }

  .flex-child {
    padding: 2rem 1rem;
    margin-top: 20px;
    border: 8px double red;
  }

  .flex-child:first-child {
    margin-right: 0px;
  } 
}
